.container-1{
  display:flex;
  justify-content:space-between;
}

.container-2{
  display:flex;
}

.container-2 div{
  padding:10px;

}

.container-1 div{
  border:1px #ccc solid;
  padding:10px;

}

.box-1{
  width: 30%;
}

.box-2{
  width: 30%;
}

.box-3{
  width: 30%;

}

.box-0{
  width: 100%;

}

.box-01{
  width: 50%;

}


body{
    background: white url("images/download.jpg");
}
